<% if @current_player.hit_points > 0 %>
 <body id = "background1">
      <h1 id = "direct-hit" align = "center"> Direct hit! <%= @current_player.name %> has <%= @current_player.hit_points %> HP </h1>
      <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
      <form action = "/play" method = "get">
        <div class = "buttonHolder">
          <button type = "submit" value = "Submit">KEEP FIGHTING!!</button>
        </div>
      </form>
 </body>

<% else %>

<body id = "background2">
  <br></br>
  <h1 id = "gameover" align = "center"> <%= @current_player.name %> loses! </h1>
        <form action = "/" method = "get">
          <div class = "buttonHolder">
            <button type = "submit" value = "Submit">PLAY AGAIN!!</button>
          </div>
        </form>
</body>
<% end %>

<style>

#direct-hit {
  background-color: white;
  color: red;
  font-size: 75px;
  font-weight: bold;
}

#gameover {
  color: yellow;
  font-size: 150px;
  font-weight: bold;
}

#background1 {
  background: url(https://media.giphy.com/media/101G9uA6qOjggo/giphy.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#background2 {
  background: url(http://img1.wikia.nocookie.net/__cb39/simpsons/images/5/50/Wiki-background) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.buttonHolder{ text-align: center; }

button:hover{
  background: #3B5C76;
}

button {
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
  }

  </style>
