<h1> Let's Battle! </h1>
<h2> Sign in to start playing </h2><br></br>

<form action = "/names" method = "post">
  <label for = "player_1_name">
    Player 1
    <input type = "text" name = "player_1_name"> <br></br>
  </label>

  <label for = "player_2_name">
  	Player 2
  <input type = "text" name = "player_2_name"> <br></br>
  </label>
  <br></br>
  <br></br>
  <input type = "submit" value = "Let's get ready to rumble!">
</form>

<style>
h1 {
    font-size: 60px;
    color: blue;
}

h2 {
	font-size: 40px;
	color: blue;
}

input[type=submit]{
  background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-color: red;
}

</style>
